data/raw/
data/interim/
data/processed/
outputs/models/
.venv/
.vscode/
*.parquet
*.pkl
*.joblib
*.pt
*.pth
*.onnx
transformers_cache/
huggingface_cache/
__pycache__/
.ipynb_checkpoints/
.DS_Store
.env
*.aux
*.bbl
*.blg
*.log
*.out
*.fls
*.fdb_latexmk
*.synctex.gz
